<h2 class="text-center">Estas son tus peticiones {{ user.name }}</h2>

<div>
  <a *ngIf="user.usertype == 1" class="btn btn-outline-warning" routerLink="/admin-peticiones">Todas las peticiones</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID Usuario</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Destinatario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let petition of MiPeticion">
      <th scope="row">{{ petition.id }}</th>
      <td>{{ petition.user_id }}</td>
      <td>{{ petition.title }}</td>
      <td>{{ petition.description }}</td>
      <td>{{ petition.destinatario }}</td>
    
    </tr>
  </tbody>
</table>
