

<div class="container pt-3 pt-md-5 pt-xs-2 pb-5">

  <div class="d-flex justify-content-center pb-2">
   <h3>
   Somos el ChangeOrg
  </h3>
  </div>

    <div class="row flex__sobreNosotros">
          <div class="col-12 col-sm-6 col-md-6">
              <img src="imgs/img-car-3.jpg" alt="">
          </div>

          <div class="col-12 col-sm-6 col-md-6">
            <p class="text-center sobre_nosotros">  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
    </div>
</div>
