<nav class="navbar navbar-light bg-light justify-content-between color-rojo">
  <div>
    <a class="navbar-brand" routerLink="/" >ChangeOrg</a>
    <a class="navbar-brand"  routerLink="peticion" *ngIf="loggedIn">Crear Peticion</a>
    <a class="navbar-brand" routerLink="all-peticiones">Peticiones</a>
    <a class="navbar-brand" routerLink="mis-peticiones" *ngIf="loggedIn">Mis Peticiones</a>
  </div>


  <div>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" routerLink="register" *ngIf="!loggedIn">Register</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
  </div>



</nav>
